/*

*****************************************************************************

Title:  Style Page

Use:  To allow users to fill out and submit the contact form.

Author:  Brian Pearson

School/Term:  Missouri University, Spring 2020

Developed: April 24, 2020

Tested:  April 24, 2020; Passed on Firefox and Chrome browsers.

******************************************************************************

*/
:root {
  font-size: 62.5%;
  nav {
    margin: 0;
    // nav font size 16px
    font-size: 1.6rem;
  }
}
nav {
display: block;
position: relative;
top: 0;
width: 100%;
background-color: darkolivegreen;
border: .3rem outset darkseagreen;
}
nav li {
list-style-type: none;
display: inline-block;
margin-right: 2rem;
font-size: 2.5rem;
border: .3rem inset darkseagreen;
background-color: gold;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 5rem;
padding-right: 5rem;
}
nav a:link {
background-color: gold;
text-decoration: none;
}
nav a:hover {
background-color: orange;
text-decoration: none;
}
nav a:active {
background-color: crimson;

}
li > ul {
display: none
}
li:hover ul {display: block; position: fixed; top: 8.7rem; left:77.1rem; background-color: gold; border: .3rem outset darkseagreen; width: 17.1rem;}
li:hover ul li a:link {display: block; margin-left: -4rem;}
  #hamburger {
    display: none;
}
@media only screen and (max-width: 640px) {
    nav {position: relative; display: block; padding-bottom: 4.5rem;}
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 2rem;
        background: none;
        left: 0rem;
        top: 1rem;
        width: 35%;
    }
    #hamburger {
    display: inline-block;
        padding-left: 2rem;
        width: 2.6rem;
        float: left;
        font-size: 2em;
  }
    nav:hover ul {
        display: block;
    }
    nav li{
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }
    nav .xp {display: none;}
    }