/*

*****************************************************************************

Title:  Style Page

Use:  To allow users to fill out and submit the contact form.

Author:  Brian Pearson

School/Term:  Missouri University, Spring 2020

Developed: April 10, 2020

Tested:  April 10, 2020; Passed on Firefox and Chrome browsers.

******************************************************************************

*/
.nav {
        display: inline-block;
        border: 3px outset floralwhite;
        background-color: floralwhite;
        width: 150px;
        list-style-type: none;
        padding: 15px 15px 15px 15px;
        margin-top: 0;
        margin-left: 10px;
        text-align: center;
        position: absolute;
        }
.nav a:link{color: firebrick; text-decoration: none;}
.nav a:hover{color: azure; text-decoration: none;}
.nav a:focus{background-color:azure}
.nav a:active{background-color: cornflowerblue;}
.nav a {position: absolute; margin-top: 0; left: 200px; display: block; margin: 0; background-color: green}
.nav a:hover>ul{display:block;}
        