/*

*****************************************************************************

Title:  Style Page

Use:  To allow users to fill out and submit the contact form.

Author:  Brian Pearson

School/Term:  Missouri University, Spring 2020

Developed: April 10, 2020

Tested:  April 10, 2020; Passed on Firefox and Chrome browsers.

******************************************************************************

*/
nav {
        display: inline-block;
        position: absolute;
        margin-top: 0;
        background-color: floralwhite;
        width: 150px;
        border: 3px outset floralwhite;
        padding: 15px 15px 15px 15px;
        text-align: center;
        }
li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    font-size: 25px;
}
nav a:link {color: orange; text-decoration: none;}
nav a:hover {color: orange; text-decoration: none;}
li > ul {display: none;}
li:hover ul{position: absolute; margin-top: 0; left: 200px; display: block; margin: 0; background-color: green}
li:hover ul li a:link{display:inline-block; margin-left: -30px;}
        